Datasets/dataset_mentions
Datasets/raw_dataset_mentions
Datasets/dataset_political_accounts
Datasets/dataset_mentions_predictions
.DS_STORE

Datasets/img_dataset_mentions
Datasets/img_dataset_political_accounts
Models/
Datasets/tweets_mentions.csv
Datasets/tweets_political_accounts.csv
03 Train Model/.ipynb_checkpoints/train-bertopic-checkpoint.ipynb
Datasets/tweets_mentions_cleaned.csv
Datasets/tweets_political_accounts_cleaned.csv
Results Topic Modells/